/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            stratopimax: stratopimax {
                compatible = "sferalabs,stratopimax";
                pinctrl-names = "default";
                pinctrl-0 = <&stratopimax_pins>;
                status = "okay";
                
                stratopimax_sd_route-gpios = <&gpio 6 0>;
                stratopimax_exp1_xx-gpios = <&gpio 7 0>;
                stratopimax_exp1_yy-gpios = <&gpio 8 0>;
                stratopimax_exp2_xx-gpios = <&gpio 12 0>;
                stratopimax_exp2_yy-gpios = <&gpio 13 0>;
                stratopimax_exp3_xx-gpios = <&gpio 18 0>;
                stratopimax_exp3_yy-gpios = <&gpio 19 0>;
                stratopimax_exp4_xx-gpios = <&gpio 16 0>;
                stratopimax_exp4_yy-gpios = <&gpio 17 0>;
            };
        };
    };

    fragment@1 {
        target = <&gpio>;
        __overlay__ {
            stratopimax_pins: stratopimax_pins {
                brcm,pins = <6>;
                brcm,function = <0>; /* in */
                brcm,pull = <0>; /* no pull */
            };
        };
    };

    fragment@2 {
        target = <&i2c_arm>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            
            rp2: rp2@35 {
                compatible = "sferalabs,stratopimax-rp2";
                reg = <0x35>;
                status = "okay";
            };
            
            lm75a: lm75a@48 {
                compatible = "sferalabs,stratopimax-lm75a";
                reg = <0x48>;
                status = "okay";
            };
            
            atecc608: atecc608@60 {
                compatible = "sferalabs,atecc";
                reg = <0x60>;
                status = "okay";
            };
        };
    };

    fragment@3 {
        target = <&rp1_mmc0>;
        __overlay__ {
            status = "okay";
            pinctrl-0 = <&rp1_sdio0_22_27>;
            pinctrl-names = "default";
        };
    };

    fragment@4 {
        target = <&rp1_sdio_clk0>;
        __overlay__ {
            status = "okay";
        };
    };
};
