/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";
    
    fragment@0 {
        target-path = "/";
        __overlay__ {
            dios: dios {
                compatible = "sferalabs,stratopimax";
                pinctrl-names = "default";
                pinctrl-0 = <&dios_pins>;
                status = "okay";
                
                stratopimax_sd_route-gpios = <&gpio 6 0>;
                stratopimax_exp1_xx-gpios = <&gpio 7 0>;
                stratopimax_exp1_yy-gpios = <&gpio 8 0>;
                stratopimax_exp2_xx-gpios = <&gpio 12 0>;
                stratopimax_exp2_yy-gpios = <&gpio 13 0>;
                stratopimax_exp3_xx-gpios = <&gpio 18 0>;
                stratopimax_exp3_yy-gpios = <&gpio 19 0>;
                stratopimax_exp4_xx-gpios = <&gpio 16 0>;
                stratopimax_exp4_yy-gpios = <&gpio 17 0>;
            };
        };
    };
    
    fragment@1 {
        target = <&gpio>;
        __overlay__ {
            dios_pins: dios_pins {
                brcm,pins = <6 7 8 12 13 18 19 16 17>;
                brcm,function = <0>; /* in */
                brcm,pull = <0>; /* no pull */
            };
        };
    };
    
    fragment@2 {
        target = <&i2c_arm>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            
            rp2: rp2@35 {
                compatible = "sferalabs,stratopimax-rp2";
                reg = <0x35>;
                status = "okay";
            };
            
            lm75a: lm75a@48 {
                compatible = "sferalabs,stratopimax-lm75a";
                reg = <0x48>;
                status = "okay";
            };
            
            atecc608: atecc608@60 {
                compatible = "sferalabs,atecc";
                reg = <0x60>;
                status = "okay";
            };
        };
    };

    fragment@3 {
        target = <&sdhost>;
        frag0: __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&sdhost_pins>;
            bus-width = <4>;
            brcm,overclock-50 = <0>;
            brcm,pio-limit = <1>;
            status = "okay";
        };
    };

    fragment@4 {
        target = <&gpio>;
        __overlay__ {
            sdhost_pins: sdhost_pins {
                brcm,pins = <22 23 24 25 26 27>;
                brcm,function = <4 4 4 4 4 4>; /* ALT0: SD0 */
                brcm,pull = <0 2 2 2 2 2>; /* pull up all except clk */
            };
        };
    };

    fragment@5 {
        target = <&spidev0>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@6 {
        target = <&spidev1>;
        __overlay__ {
            status = "disabled";
        };
    };
};
